__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypotheses

# CRITICAL: Ignore these to prevent the issue you just saw
node_modules
frontend
requirements_nlp.txt
requirements_ds.txt
requirements_db.txt